## Get Config Files

This message is a request to the plugin to parse the given directory and return all the configuration files found.

<p class='request-name-heading'>Request name</p>

`config-files`

<p class='request-body-heading'>Request body</p>

> Given the following config XML snippet —

```xml
<config-repos>
  <config-repo pluginId="your.plugin.id" id="some-unique-id">
    <git url="https://some.repo" />
    <configuration>
      <property>
        <key>some.key</key>
        <value>some.value</value>
      </property>
    </configuration>
  </config-repo>
```

> The plugin will receive the following JSON body —

```json
{
  "directory": "/absolute/path/to/directory/with/configs",
  "configurations": [
    {
      "key": "some.key",
      "value": "some.value"
    }
  ]
}
```

The request body will contain a JSON object with an attribute `directory`, which points to a directory of the specified
material repository. It will also contain an attribute `configuration` which contains the specified configuration. Note:
This is not the configuration in the plugin settings page.

<p class='response-code-heading'>Response code</p>

The plugin is expected to return status `200` if it can understand the request.

<p class='response-body-heading'>Response body</p>

> An example response body:

```json
{
  "target_version": 10,
  "files": [
    "build.gocd.yml",
    "deploy.gocd.yml"
  ]
}
```
