## Extension Information

<p class='attributes-table-follows'></p>

|                            |                              |
| -------------------------- | ---------------------------- |
| **Availability**           |  GoCD version <%= gocd_version %> onwards |
| **Extension Name**         | `<%= extension_name %>`      |
| **Extension API Version**  | `<%= extension_version %>`   |
